@(controller: de.htwg.sa.tankcommander.controller.controllerComponent.ControllerInterface)

@main("TankCommander") {
  <h1 style="text-align: center">Game Status</h1>
  <div class="game">
    @for(x <- controller.gameFieldToHTML) {
      <div class="row">
        @for(cell <- x) {
        <span class="cell @cell"></span>
        }
      </div>
    }
    <div class="statistics">
      <div class="active-player">
        <p><b>Aktiver Spieler:</b> @controller.gameStatus.activePlayer.player</p>
        <p><b>Leben:</b> @controller.gameStatus.activePlayer.tank.hp</p>
        <p><b>Anzahl Züge übrig:</b> @controller.gameStatus.activePlayer.movesLeft</p>
      </div>
      <div class="passive-player">
        <p>Passiver Spieler: @controller.gameStatus.passivePlayer.player</p>
        <p>Leben: @controller.gameStatus.passivePlayer.tank.hp</p>
      </div>
    </div>

    <div class="buttons">
      <a href="/game/move/left"><button>Left</button></a>
      <a href="/game/move/right"><button>Right</button></a>
      <a href="/game/move/up"><button>Up</button></a>
      <a href="/game/move/down"><button>Down</button></a>
      <a href="/game/shoot"><button>Shoot</button></a>
      <a href="/game/turn"><button>End Turn</button></a>
      <a href="/game/undo"><button>Undo</button></a>
      <a href="/game/redo"><button>Redo</button></a>
    </div>
  </div>
}
